@page "/identity/login"

<div>
    <Layout>
        <Content>
            <GridRow Justify="center" Align="top">
                <GridCol Span="12" Offset="6">
                    <Card Title=@("Log in")>
                        <Body>
                        <h1>Login form</h1>
                        </Body>
                    </Card>
                </GridCol>
            </GridRow>
        </Content>
    </Layout>
</div>

@code {

}