@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BoilerPlate.WebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Aaa</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
</body>
</html>