<!DOCTYPE html>
<html lang="">
<head>
    <partial name="_PageHeadElement"/>

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("HeadScripts", required: false)
</head>
<body>
<div class="main-content">
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    @await RenderSectionAsync("Breadcrumbs", required: false)
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <!-- Page content -->
        @RenderBody()
        <partial name="_Footer"/>
    </div>
    
    <partial name="_ThemeScripts" />
    @RenderSection("Scripts", required: false)
</div>
</body>
</html>